$accent: #E31E24
$accent2: #1A1F26
$accent3: #E7E7E7
$text: #1A1F26

body
  color: $text
  font-size: 16px
  line-height: 1.6em
  font-family: 'Roboto', sans-serif
  margin: 0
  padding: 0

/* Works on Firefox */
* 
  scrollbar-width: thin
  scrollbar-color: $accent2 $accent

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar 
  width: 10px

*::-webkit-scrollbar-track 
  background: rgba($accent2, .11)

*::-webkit-scrollbar-thumb 
  background-color: rgba($accent2, .4)
  border-radius: 20px  
  
a
  color: $text
  text-decoration: none
ul
  margin: 0
  padding: 0
  list-style-type: none
  li
    display: inline-block
h1, h2, h3, .h1, .h2, .h3
  font-family: 'Ubuntu', sans-serif
  text-transform: uppercase
  line-height: 1.2em
  font-weight: 700
h1, .h1
  font-size: 55px
h2, .h2
  font-size: 36px
h3, .h3
  font-size: 19px
.title
  text-transform: uppercase
  font-family: 'Roboto', sans-serif
.btn
  display: inline-block
  padding: 15px 25px
  border-radius: 4px
  margin: 15px 0
  text-transform: lowercase
  &-red
    background-color: $accent
    color: #ffffff
    a
      color: #ffffff
  &-grey
    background-color: $accent3
    color: #000
    a
      color: #000
    &:hover
      background-color: $accent
      color: #ffffff
      a
        color: #ffffff
  &-arr
    background-color: transparent
    border: 1px solid $accent2
.social
  li
    background-image: url('../img/sprite_main.svg')
    background-repeat: no-repeat
    display: block
    width: 25px
    height: 45px
    display: inline-block
    margin: 0 10px
  .in
    background-position: -305px 0
  .wa
    background-position: -361px 0
  .fb
    background-position: -408px 0
  a
    display: block
    width: 100%
    height: 100%
.header
  background-image: url('../img/header_bg-3.jpg')
  background-size: cover
  background-repeat: no-repeat
  h1 span
    background: rgba(255, 255, 255, 0.75)
  .logo-wrap
    padding: 15px 0
  .menu-wrap
    padding: 15px 0
    ul
      margin: 15px 0
      li a
        display: block
        padding: 15px
  .phone-wrap
    background: $accent
    padding: 15px
    color: #fff
    a
      color: #fff
  .content
    width: 60%
    margin: 120px 0
    .desc
      background: rgba(255, 255, 255, 0.75)
      backdrop-filter: blur(12px)
      border-radius: 0px 2px 2px 0px
      position: absolute
      left: -50%
      width: 100%
      padding: 15px 15px 55px 50%
    .btn
      margin-top: 100px
      z-index: 2
      position: relative
.block_wrap
  margin-top: 45px
  &.s1
    background-image: url('../img/b2_bg.jpg')
    background-repeat: no-repeat
    background-size: contain
    position: relative
    padding-bottom: 50px
    .content
      padding: 45px
      background-color: #fff
      margin-top: 45px
    .btn-arr
      margin-left: 15px
    .line-red
      height: 50px
      width: 100%
      left: -50%
      bottom: 0
      position: absolute
      background-color: $accent
  &.s2
    .block
      border: 1px solid #E9E9E9
      border-radius: 2px
      padding: 50px
      margin: 15px 0
      position: relative
      &.icon
        &::after
          content: ''
          background-image: url('../img/sprite_main.svg')
          background-repeat: no-repeat
          width: 65px
          height: 65px
          position: absolute
          right: 15px
          top: 15px
      &.icon-1::after
        background-position: -20px -60px
      &.icon-2::after
        background-position: -120px -60px
      &.icon-3::after
        background-position: -220px -60px
      &.icon-4::after
        background-position: -220px -60px
      &.icon-5::after
        background-position: -320px -60px
      &.icon-6::after
        background-position: -420px -60px
      &.icon-7::after
        background-position: -520px -60px
      .price
        font-weight: 700
        font-style: 21px
    .block-calc
      display: flex
      flex-direction: column
      flex: 1
      padding: 52px 50px 60px 50px
      justify-content: center
      text-align: center
      font-family: 'Roboto', sans-serif


      .title
        margin: 0 auto
      
      #type_w
        color: white
        background-color: $accent2
        font-size: 16px
        text-align: center
        padding: 16px
        cursor: pointer

      .range-wrapper
        position: relative
        width: 100%
        input[type="range"]
          width: 100%
          height: 6px
          -webkit-appearance: none
          z-index: 9999
        input[type="range"]:focus
          outline: none
        input[type="range"] + label 
          position: absolute
          bottom: -34px
          left: 37px
          width: 80px
          text-align: center

          
        input[type="range"]::-webkit-slider-runnable-track 
          width: 10%
          cursor: pointer
          height: 5px
        input[type="range"]::-webkit-slider-thumb 
          -webkit-appearance: none
          height: 24px
          width: 24px
          background: $accent2
          border-radius: 50%
          margin-top: -10px 
          cursor: pointer
        .kv-range-gradient 
          pointer-events: none
          position: absolute
          top: 14px
          width: 100%
          margin: 0 auto
          height: 4px
          background: linear-gradient(90deg, #1A1F26 30%, rgba(26, 31, 38, 0.23) 30%)
          border-radius: 8px
      .kv 
        &-wrapper
          display: flex
          flex-direction: row
          flex-wrap: wrap
          justify-content: space-between
          margin-top: 24px
        &-selector
          border: 1px solid #E9E9E9
          width: 80px
          height: 45px
          display: flex
          align-items: center
          justify-content: center
          font-size: 16px
          margin-top: 2%
          cursor: pointer

        &-range-floated
          background: #ffffff
        &-range-left-number
          position: absolute
          left: 0
          font-size: 14px
          font-weight: 300
        &-range-right-number
          position: absolute
          right: 0
          font-size: 14px
          font-weight: 300
      .opt
        &-wrapper 
          display: flex
          flex-direction: column
          flex: 1
        &-selector
          border: 1px solid #E9E9E9
          width: 100%
          padding: 10px
          text-align: center
          font-weight: 400
          margin-bottom: 20px
          cursor: pointer
      .sum
        &-wrapper
          width: 100%
          
          display: inline-flex
          justify-content: space-between
          .btn
            padding: 10px 18px
            font-weight: 700
        &-result
          padding: 15px
          display: flex
          justify-content: center
          align-items: center
          font-weight: 700


    //   #type_w
  &.s3
    .block
      border: 1px solid #E9E9E9
      border-radius: 2px
      padding: 15px
      text-align: center
      margin-bottom: 15px
      min-height: 400px
      &-title
        border: 0
        .h2
          margin-top: 15%
      .icon
        width: 80px
        height: 80px
        background-image: url('../img/sprite_main.svg')
        background-repeat: no-repeat
        margin: 15px auto 25px
      .icon-1
        background-position: 0 -150px
      .icon-2
        background-position: -80px -150px
      .icon-3
        background-position: -160px -150px
      .icon-4
        background-position: -240px -150px
      .icon-5
        background-position: -320px -150px
      .icon-6
        background-position: -400px -150px
      .icon-7
        background-position: -480px -150px
      .icon-8
        background-position: -560px -150px
  &.s4
    background-image: url('../img/s5_bg.jpg')
    background-repeat: no-repeat
    background-size: contain
    position: relative
    padding-bottom: 50px
    background-position: 100% 0
    .content
      padding: 45px
      background-color: #fff
      margin-top: 45px
  &.s5
    background-image: url('../img/s6_bg.jpg')
    background-repeat: no-repeat
    background-size: cover
    position: relative
    padding: 50px
    .h2
      color: #ffffff
    .block
      background-color: #fff
      padding: 50px
      text-align: center
      margin-bottom: 35px
      .icon
        width: 70px
        height: 70px
        background-image: url('../img/sprite_main.svg')
        background-repeat: no-repeat
        margin: 15px auto 25px
      .icon-1
        background-position: 0 -240px
      .icon-2
        background-position: -85px -240px
      .icon-3
        background-position: -170px -240px
      .icon-4
        background-position: -245px -240px
      .icon-5
        background-position: -330px -240px
      .icon-6
        background-position: -415px -240px
      &.block-1, &.block-2 
        margin-top: 80px
  &.s6
    background-image: url('../img/s7_bg.jpg')
    background-repeat: no-repeat
    background-size: contain
    position: relative
    padding-bottom: 50px
    .content
      padding: 45px
      background-color: #fff
      margin-top: 45px
  &.s7
    background-image: url('../img/s8_bg.jpg')
    background-repeat: no-repeat
    background-size: contain
    position: relative
    padding-bottom: 50px
    background-position: 100% 0
    .content
      padding: 45px
      background-color: #fff
      margin-top: 45px
      .social
        a
          display: block
  &.s8, &.s9
    h2
      text-align: center
.footer
  background: $accent2
  color: #ffffff
  padding: 50px
  a
    color: #ffffff
  .lic
    background-image: url(../img/sprite_main.svg)
    background-repeat: no-repeat
    background-position: -105px 0
    width: 35px
    height: 45px
    display: inline-block
    margin-right: 15px
    padding-left: 50px
  ul.phones
    li
      display: block
  ul.social
    margin-top: 50px
    .in
      background-position: -160px 0
    .wa
      background-position: -216px 0
    .fb
      background-position: -263px 0
.hidden
  display: none

.font-light
  font-family: 'Roboto', sans-serif
  font-weight: 300


.selector
  &:hover
    border: 1px solid $accent2 !important
    transition: border 0.4s linear
  &.selected
    border: 1px solid $accent2 !important
    background: $accent2 !important
    color: #ffffff
    transition: (border,color,backgroud) 0.4s linear

/*WHY US
 *=================================================
.block_wrap.s1 .content
  h2, p
    padding-bottom: 20px

.block-title
  background-color: #E31E24
  color: #fff

#services
  margin-left: auto
  margin-right: auto
  text-align: center
  padding-top: 60px
  padding-bottom: 60px
  max-width: 500px

.title.h3
  padding-bottom: 20px

.block_wrap
  &.s2 .block
    padding: 30px
    padding-bottom: 10px

  &.s4
    .col-7
      background-color: #1A1F26
      padding: 0px
      max-width: 500px

    .content
      h2
        max-width: 430px
        width: 100%
        padding-bottom: 25px

      p
        padding-bottom: 25px

.offset-5
  margin-left: 50%

.content-black
  padding-left: 100px
  width: 580px

#contacts
  padding-bottom: 50px

.h3
  padding-bottom: 30px

.col-5
  p
    padding-bottom: 26px

  h3
    width: 250px

.block_wrap.s6
  padding-bottom: 0px

.red-brick
  background-color: #E31E24
  width: 80%
  height: 50px

.block_wrap
  &.s7
    .col-5
      background-color: #fff

    padding-bottom: 0px

  &.s8
    padding-bottom: 300px

.slider
  width: 700px

  img
    max-width: 250px

.owl-nav
  position: absolute
  left: -50%
  top: 200px

#counter
  position: absolute
  left: 250px
  top: 240px

.counter-span-1
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-size: 40px
  line-height: 24px

.counter-span-2
  color: grey
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-size: 18px
  line-height: 24px

.fa
  margin-right: 30px

i
  font-size: 32px
  padding: 20px 25px
  transition: all .3s
  border: 1px solid #E9E9E9

  &:first-child:hover
    color: #fff
    background-color: red

.block_wrap.s8 h2
  text-align: left
  font-family: 'Ubuntu'
  font-style: normal
  font-weight: 700
  font-size: 24px
  line-height: 54px
  padding-left: 15px

.slider img
  -webkit-filter: grayscale(100%)
  filter: grayscale(100%)

  &:hover
    -webkit-filter: grayscale(0%)
    filter: grayscale(0%)

.owl-carousel .owl-item img
  padding: 10px

*
  box-sizing: border-box

.tabs
  padding: 0px
  margin: 0 auto
  position: relative

  #content1
    display: none
    padding: 15px
    background: white
    position: absolute
    top: 0
    right: 0

#content2
  display: none
  padding: 15px
  background: white
  position: absolute
  top: 0
  right: 0

.offset-3
  margin-left: 30%

.tabs
  p
    margin: 0

  input
    display: none

  label
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 700
    font-size: 19px
    line-height: 29px
    display: block
    width: 180px
    padding: 15px
    color: #000
    cursor: pointer

  input:checked + label
    color: #E31E24

#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4
  display: block

.tabs section
  animation: scale 0.7s ease-in-out

@keyframes scale
  0%
    transform: scale(0.9)
    opacity: 0

  50%
    transform: scale(1.005)
    opacity: 0.5

  100%
    transform: scale(1)
    opacity: 1
.block.block-center ul li
  display: inline-block
  padding: 0 15px
.left_b
  width: 20%
.center_b
  width: 55%
.zerone
  position: relative
  text-align: center
  top: 175px
  img
    display: inline-block
    vertical-align: middle
.block.block-left 
  .logo
    padding-bottom: 10px
  .copy
    padding-top: 10px

.fa.fa-whatsapp
  border: none
  margin: 0 auto

.btn-whatsapp-pulse
  background: #25d366
  color: white
  position: fixed
  bottom: 20px
  right: 20px
  font-size: 40px
  display: flex
  justify-content: center
  align-items: center
  width: 0
  height: 0
  padding: 30px
  text-decoration: none
  border-radius: 50%
  animation-name: pulse
  animation-duration: 1.5s
  animation-timing-function: ease-out
  animation-iteration-count: infinite
  top: 70%
  right: 5%
  z-index: 10