$accent: #E31E24
$accent2: #1A1F26
$accent3: #E7E7E7
$text: #1A1F26

body
  color: $text
  font-size: 16px
  line-height: 1.6em
  font-family: 'Roboto', sans-serif
  margin: 0
  padding: 0

/* Works on Firefox */
* 
  scrollbar-width: thin
  scrollbar-color: $accent2 $accent

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar 
  width: 10px

*::-webkit-scrollbar-track 
  background: rgba($accent2, .11)

*::-webkit-scrollbar-thumb 
  background-color: rgba($accent2, .4)
  border-radius: 20px  
  
a
  color: $text
  text-decoration: none
ul
  margin: 0
  padding: 0
  list-style-type: none
  li
    display: inline-block
h1, h2, h3, .h1, .h2, .h3
  font-family: 'Ubuntu', sans-serif
  text-transform: uppercase
  line-height: 1.2em
  font-weight: 700
h1, .h1
  font-size: 55px
h2, .h2
  font-size: 36px
h3, .h3
  font-size: 19px
.title
  text-transform: uppercase
  font-family: 'Roboto', sans-serif
.btn
  display: inline-block
  padding: 15px 25px
  border-radius: 4px
  margin: 15px 0
  text-transform: lowercase
  &-red
    background-color: $accent
    color: #ffffff
    a
      color: #ffffff
  &-grey
    background-color: $accent3
    color: #000
    a
      color: #000
    &:hover
      background-color: $accent
      color: #ffffff
      a
        color: #ffffff
  &-arr
    background-color: transparent
    border: 2px solid $accent2
.social
  li
    background-image: url('../img/sprite_main.svg')
    background-repeat: no-repeat
    display: block
    width: 25px
    height: 45px
    display: inline-block
    margin: 0 5px
  .in
    background-position: -305px 0
  .wa
    background-position: -361px 0
  .fb
    background-position: -408px 0
.header
  background-image: url('../img/header_bg.jpg')
  background-size: cover
  background-repeat: no-repeat
  .logo-wrap
    padding: 15px 0
  .menu-wrap
    padding: 15px 0
    ul
      margin: 15px 0
      li a
        display: block
        padding: 15px
  .phone-wrap
    background: $accent
    padding: 15px
    color: #fff
    a
      color: #fff
  .content
    width: 60%
    margin: 120px 0
    .desc
      background: rgba(255, 255, 255, 0.75)
      backdrop-filter: blur(12px)
      border-radius: 0px 2px 2px 0px
      position: absolute
      left: -50%
      width: 100%
      padding: 15px 15px 55px 50%
    .btn
      margin-top: 100px
      z-index: 2
      position: relative
.block_wrap
  margin-top: 45px
  &.s1
    background-image: url('../img/b2_bg.jpg')
    background-repeat: no-repeat
    background-size: contain
    position: relative
    padding-bottom: 50px
    .content
      padding: 45px
      background-color: #fff
      margin-top: 45px
    .btn-arr
      margin-left: 15px
    .line-red
      height: 50px
      width: 100%
      left: -50%
      bottom: 0
      position: absolute
      background-color: $accent
  &.s2
    .block
      border: 1px solid #E9E9E9
      border-radius: 2px
      padding: 50px
      margin: 15px 0
      position: relative
      &.icon
        &::after
          content: ''
          background-image: url('../img/sprite_main.svg')
          background-repeat: no-repeat
          width: 65px
          height: 65px
          position: absolute
          right: 15px
          top: 15px
      &.icon-1::after
        background-position: -20px -60px
      &.icon-2::after
        background-position: -120px -60px
      &.icon-3::after
        background-position: -220px -60px
      &.icon-4::after
        background-position: -220px -60px
      &.icon-5::after
        background-position: -320px -60px
      &.icon-6::after
        background-position: -420px -60px
      &.icon-7::after
        background-position: -520px -60px
      .price
        font-weight: 700
        font-style: 21px
    // .block-calc
    //   #type_w
  &.s3
    .block
      border: 1px solid #E9E9E9
      border-radius: 2px
      padding: 15px
      text-align: center
      margin-bottom: 15px
      &-title
        border: 0
        .h2
          margin-top: 15%
      .icon
        width: 80px
        height: 80px
        background-image: url('../img/sprite_main.svg')
        background-repeat: no-repeat
        margin: 15px auto 25px
      .icon-1
        background-position: 0 -150px
      .icon-2
        background-position: -80px -150px
      .icon-3
        background-position: -160px -150px
      .icon-4
        background-position: -240px -150px
      .icon-5
        background-position: -320px -150px
      .icon-6
        background-position: -400px -150px
      .icon-7
        background-position: -480px -150px
      .icon-8
        background-position: -560px -150px
  &.s4
    background-image: url('../img/s5_bg.jpg')
    background-repeat: no-repeat
    background-size: contain
    position: relative
    padding-bottom: 50px
    background-position: 100% 0
    .content
      padding: 45px
      background-color: #fff
      margin-top: 45px
  &.s5
    background-image: url('../img/s6_bg.jpg')
    background-repeat: no-repeat
    background-size: cover
    position: relative
    padding: 50px
    .h2
      color: #ffffff
  &.s5
    .block
      background-color: #fff
      padding: 50px
      text-align: center
      margin-bottom: 35px
      .icon
        width: 70px
        height: 70px
        background-image: url('../img/sprite_main.svg')
        background-repeat: no-repeat
        margin: 15px auto 25px
      .icon-1
        background-position: 0 -240px
      .icon-2
        background-position: -85px -240px
      .icon-3
        background-position: -170px -240px
      .icon-4
        background-position: -245px -240px
      .icon-5
        background-position: -330px -240px
      .icon-6
        background-position: -415px -240px
      &.block-1, &.block-2 
        margin-top: 80px
  &.s6
    background-image: url('../img/s7_bg.jpg')
    background-repeat: no-repeat
    background-size: contain
    position: relative
    padding-bottom: 50px
    .content
      padding: 45px
      background-color: #fff
      margin-top: 45px
      .social
        a
          display: block
  &.s7
    background-image: url('../img/s8_bg.jpg')
    background-repeat: no-repeat
    background-size: contain
    position: relative
    padding-bottom: 50px
    background-position: 100% 0
    .content
      padding: 45px
      background-color: #fff
      margin-top: 45px
      .social
        a
          display: block
  &.s8, &.s9
    h2
      text-align: center
.footer
  background: $accent2
  color: #ffffff
  padding: 50px
  a
    color: #ffffff
  .lic
    background-image: url(../img/sprite_main.svg)
    background-repeat: no-repeat
    background-position: -105px 0
    width: 35px
    height: 45px
    display: inline-block
    margin-right: 15px
    padding-left: 50px
  ul.phones
    li
      display: block
  ul.social
    .in
      background-position: -160px 0
    .wa
      background-position: -215px 0
    .fb
      background-position: -263px 0